<!DOCTYPE html>

<html lang="en">
	<head>
		<title>upscan-listener</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<p>Welcome to the upscan-listener service.</p>
			<p>To use the service, use the following URL for callback in your service: http://localhost:12345/listen</p>
			<p>Make sure that your service is running on the correct URL by starting it with the following command: sbt "run 12345"</p>
			<p>You will see a log of all incoming callbacks in the application log</p>
		</div>
	</body>
</html>
